In [1]:
import pandas as pd
import numpy as np


print("Delhi Air Quality Project - Model Training")

Delhi Air Quality Project - Model Training

In [6]:
# Loading AQI data

df = pd.read_csv('../data/processed/final_delhi_aqi_weather_merged_final.csv')
df['date'] = pd.to_datetime(df['date'])
print(" Data Loaded Successfully")
df.head()

 Data Loaded Successfully

,date,year,month,season,day_of_week,is_weekend,state,area,number_of_monitoring_stations,AQI,...,temperature_2m_min,temperature_2m_mean,precipitation_mm,humidity_percent,wind_speed,has_O3,has_NO2,has_PM2.5,has_PM10,has_CO
0,2022-04-01,2022,4,Summer,4,0,Delhi,Delhi,36,218,...,21.5,28.9,0.0,26,5.666712,False,True,True,True,False
1,2022-04-02,2022,4,Summer,5,1,Delhi,Delhi,37,226,...,19.9,28.9,0.0,24,3.222248,False,True,True,True,False
2,2022-04-03,2022,4,Summer,6,1,Delhi,Delhi,36,245,...,21.9,30.1,0.0,19,3.944476,False,False,True,True,False
3,2022-04-04,2022,4,Summer,0,0,Delhi,Delhi,37,262,...,21.8,29.1,0.0,18,4.805594,False,False,False,True,False
4,2022-04-05,2022,4,Summer,1,0,Delhi,Delhi,38,233,...,20.8,29.4,0.0,20,4.972262,False,False,True,True,False

In [ ]:
#feature engineering

df_features = df.copy()

#Time-based features
df_features['Yesterday_AQI'] = df_features['AQI'].shift(1)
df_features['last_7days_avg'] = df_features['AQI'].rolling(7).mean().shift(1)
df_features['last_14days_avg'] = df_features['AQI'].rolling(14).mean().shift(1)

NameError: name 'merged' is not defined